github "erikdi/LoopKit" "dev"
github "erikdi/CGMBLEKit" "dev"
github "erikdi/SwiftCharts" == 0.6.5
github "erikdi/dexcom-share-client-swift" "dev"
github "erikdi/G4ShareSpy" "dev"
github "erikdi/rileylink_ios" "dev"
github "erikdi/Amplitude-iOS" "decreepify"
