<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BUILD_CURRENT_DATE</key>
	<string>Sat Apr 18 23:24:54 CEST 2020</string>
	<key>GIT_BRANCH</key>
	<string>dev</string>
	<key>GIT_COMMIT_HASH</key>
	<string>ee894986d547df5a3dda26072cc8e1f5a6b6244a</string>
	<key>GIT_DESCRIBE</key>
	<string>v2.0-80-gee894986</string>
</dict>
</plist>
